<div>

  <div class="form-create-post">
    <%= simple_form_for([ post, comment ], remote: true) do |form| %>
      <!-- flex box input field and button -->
      <div class="form-create-post-inner">
        <%= form.input :content, label: false, input_html: { class: 'input-comment-content' }, placeholder: "Add a comment" %>
        <%= form.submit "Post", class: 'post-comment-btn' %>
      </div>
    <% end %>
  </div>

<!--   <p class="my-2" style="font-size: 20px;font-weight: 300;"> Comments Section: </p>
 --></div>

