<div class="border border-dark rounded p-2 my-2" style="width:300px">
<p><%= comment.content %></p>
 <p><strong> <%= comment.user.username %> <%= distance_of_time_in_words(Time.current - comment.created_at) %> ago</strong></p>
</div>
