<div id="comments" class="my-3">
<div id="comment-box">
  <div class="comment-info" style="color: white; font-family: Roboto; font-weight: normal;">
    <p><%= comment.content %></p>
  </div>
  <p>
    <strong><%= comment.user.username %> posted <%= distance_of_time_in_words(Time.current - comment.created_at) %> ago</strong>
  </p>
</div>
</div>
