// Specific CSS for your home-page
/* DEFAULTS */

.hero__banner {
    background-color: #e6b753;
    width: 100%;
    height: 100vh;
    border: 2rem solid #fbf7ed;
    padding: 48px;
    display: flex;
}


.banner__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    color: #fbf7ed;
    p {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -4;
        line-height: 1.2;
        margin-bottom: 40px;
    }
}

.hero__banner--image {
    margin: 48px;
    width: 60%;
}

.hero__banner--image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.btn__explore {
    color: #fbf7ed;
    font-size: 16px;
    font-weight: 400;
    background: #171717;
    padding: 16px 16px;
    border-radius: 2px;
    transition: opacity 0.3s ease;
    letter-spacing: 1px;
  }

  .btn__explore:hover {
    text-decoration: none;
    color: #fbf7ed;
  }

  .btn__explore:active {
    text-decoration: none;
    color: #fbf7ed;
  }

//   .arrow__container {
//       position: absolute;
//       bottom: 96px;
//       width: 40px;
//       height: 40px;
//       font-weight: 200;
//       .fa-long-arrow-alt-down {
//           font-size: 40px;
//       }
//   }


//   ------------------------------------------------------------------

.section {
    position: sticky;
    top: 0;
    z-index: 1;
}

.section__about {
    width: 100%;
    height: 100vh;
    background-color: #d4732e;
    justify-content: center;
    align-items: center;
    border: 2rem solid #fbf7ed;
    padding: 48px;
    display: flex;
}

.section__about--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #fbf7ed;
    p {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -4;
        line-height: 1.2;
        margin-bottom: 32px;
    } 
}

.composition {
    position: relative; 
    margin: 48px;
    height: 50vh;
    width: 60%; }
    .composition__photo {
      width: 50%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 1rem; }
      .composition__photo--p1 {
        left: 0;
        top: -2rem; }
      .composition__photo--p2 {
        right: 0;
        top: 2rem; }
      .composition__photo--p3 {
        left: 20%;
        top: 10rem; }
      .composition__photo:hover {
        outline: 1rem solid #fbf7ed;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
    .composition:hover .composition__photo:not(:hover) {
      transform: scale(0.95); }

// -------------------------------------------------------------------
.section__discover {
    width: 100%;
    // height: 100vh;
    background-color: #55a1a1;     
    border: 2rem solid #fbf7ed;
    padding: 48px;
    height: 50vh;
    .section__discover--heading {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -4;
        line-height: 1.2;
        margin-top: 32px;
        margin-bottom: 80px;
        color: #fbf7ed;
        text-align: center;
        width: 100%;
    }
}

.discover__cards--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.discover__cards {
    font-size: 16px;
    color: #fbf7ed;
    .discover__icons {
        font-size: 20px;
        padding-right: 8px;
    }
    .discover__info {
        display: flex;
        color: #fbf7ed;
        h3 {
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
}

.section__signup {
    width: 100%;
    height: 100vh;
    background-color: #9a9e90;
    background-image: url(https://images.unsplash.com/photo-1557688543-4e2f83d6796b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    justify-content: center;
    align-items: center;
    border: 2rem solid #fbf7ed;
    padding: 48px;
    display: flex;
    .signup__text {
        width: 88%;
        text-align: center;;
        h2 {
            font-size: 72px;
            letter-spacing: -2px;
        }
        p {
            font-size: 18px;
            padding-bottom: 32px;
        }
    }
}

.sign__image {
    margin: 48px;
    width: 40%;
}

.sign__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.section__footer {
    background-color: #fbf7ed;
    width: 100%;
    height: 20vh;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2rem solid #fbf7ed;
    padding: 48px;
    .footer__text p {
        font-size: 18px;
        color: #171717;
        letter-spacing: -4;
        line-height: 1.2;
        margin-bottom: 32px;
    }
}
