<div>
  <%= render 'shared/navbar' %>
  <div
    id="map"
    style="width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 600px;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="card-container"> <%= render 'posts/card', post_markers: @post_markers %>
    <%= link_to "+", new_post_path, class: 'btn btn-primary' %>
  </div>
</div>

<br>


