<div>
  <%= render 'shared/navbar' %>
  <div
    id="map"
    style="width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="card-container js-post-container">
  </div>
  <div class="map-loading js-map-loading">
    <div><span class="fas fa-globe-asia fa-spin"></span> Loading your location ...</div>
  </div>
  <div class="new-post-button">
    <%= link_to "+", new_post_path, class: 'btn', remote: true %>
  </div>
</div>

<br>


