<div>
  <%= render 'shared/navbar' %>
  <div
    id="map"
    style="width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="card-container js-post-container">
  </div>
  <div class="map-loading js-map-loading">
    <div id="loading-wave ">
      <span class="fas fa-globe-asia loading-dot fa-spin"></span>
      <span class="loading-dot">L</span>
      <span class="loading-dot">O</span>
      <span class="loading-dot">A</span>
      <span class="loading-dot">D</span>
      <span class="loading-dot">I</span>
      <span class="loading-dot">N</span>
      <span class="loading-dot">G</span>
      <span class="loading-dot"> </span>
      <span class="loading-dot">M</span>
      <span class="loading-dot">A</span>
      <span class="loading-dot">P</span>
      <span class="loading-dot">.</span>
      <span class="loading-dot">.</span>
      <span class="loading-dot">.</span>
    </div>
  </div>
  <div class="new-post-button js-new-post-button">
    <%= link_to "+", new_post_path, class: 'btn btn-primary', remote: true %>
  </div>
</div>

<br>


