
<div class="banner-landing-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1543625247-45477d03e12f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=federico-rizzarelli-KT7WwMrVMtI-unsplash.jpg);">
  <div class="banner-text-box">
    <h1 class="mb-5">Explore around you,<br>with WingIt</h1>
    <%= link_to "EXPLORE", map_path, class: "btn-explore"  %>
  </div>
</div>

<div class="banner-landing-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1562826542-449090f38c70?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=paul-gilmore-JoGNHupiwuA-unsplash.jpg);">
</div>

<div class="banner-landing-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%= asset_path('japan-osaka') %>
);">
</div>

<div class="banner-landing-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1534067783941-51c9c23ecefd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=guillaume-briard-lSXpV8bDeMA-unsplash.jpg );">
</div>





