
<div class="card-trip" style="position: relative;">
  <a href class="clickable js-post-link"></a>
  <img src="https://images.unsplash.com/photo-1500817487388-039e623edc21?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=samuel-ferrara-dKJXkKCF2D8-unsplash.jpg" class="js-post-photo" />
  <div class="card-trip-infos">
    <div>
      <h2 class="js-username">Title here</h2>
      <p class="js-post-content">Short description here!</p>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered js-user-avatar" />
  </div>
</div>
