<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1500817487388-039e623edc21?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=samuel-ferrara-dKJXkKCF2D8-unsplash.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
