
<div class="card-small" style="position: relative;">
  <a href class="clickable js-post-link"></a>
  <img class="js-post-photo" src="https://images.unsplash.com/photo-1552624189-4e832ec74b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
  <div class="card-small-infos">
    <div>
      <h2 class="js-username">Title here</h2>
      <p class="js-post-content mb-1 text">Short description here!</p>
      <p class="js-post-time"><i class="far fa-clock"> 3 hours ago</i></p>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-small-user avatar-bordered js-user-avatar" />
  </div>
</div>


<!-- <div class="card-large" style="position: relative;">
  <a href class="clickable js-post-link"></a>
  <img src="https://images.unsplash.com/photo-1552624189-4e832ec74b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
  <div class="card-large-infos">
    <div>
      <i class="far fa-thumbs-up"></i><i class="far fa-comment"></i><i class="far fa-bookmark"></i>
      <h2 class="js-username">Title here</h2>
      <p class="js-post-content mb-1">Short description here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime corporis unde animi enim ad eum architecto iste fuga commodi asperiores fugiat, placeat magni, blanditiis esse nesciunt culpa facere quibusdam at!!</p>
      <div class="btn-time-posted"><i class=" far fa-clock"></i>  3 hours ago</div>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-large-user avatar-bordered js-user-avatar" />
  </div>
</div>

 -->
