.banner-landing-page {
  background-attachment: fixed; /* keeps the image in the same place when scrolling */
  background-size: cover; /* shows the whole image/background */
  background-position: center;
  position: sticky;
  width: 100%;
  height: 100vh; /* fill this header with 100% of the viewpoint. */
}

.banner-text-box {
  position: absolute;
  width: 70%;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}
