.btn-explore {
  color: #fff;
  font-weight: bold;
  background-color: #df5715;
  padding: 12px 40px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  letter-spacing: 1px;

}

.btn-time-posted {
  text-align: center;
  width: 54px;
  height: 12px;
  padding: 2px;
  border-radius: 6px;
  color: $dark;
  font-size: 6px;
  border: none;
  background-color: #f39c0f;
  transition: opacity 0.3s ease;
  color: white;
}

.btn-login {
  color: $dark;
  background-color: $white;
  padding: 4px 100px;
  border-radius: 40px;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  .btn-login:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .btn-login:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
}

// New Post Button
.new-post-button {
  position: absolute;
  right: 16px;
  bottom: 250px;
  border-radius: 8px;
  padding: 8px;
}

.new-post-button a {
  font-size: 24px;
  background-color: green;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

// Changing upload photo button
.custom-file-upload {
  border: 1px solid white;
  border-radius: 25px;
  padding: 8px 16px;
  color: white;
  margin: 10px auto;
  width: 135px;
  text-align: center;
  &:after {
    content: " Upload";
  }
  &:hover {
    background: white;
    color: black;
    transition: 0.2s;
  }
}
// Hides upload photo button
input[type="file"] {
    display: none;
}

// Make post button
.btn-make-post {
  // border: 1px solid white;
  background: transparent;
  // border-radius: 25px;
  // padding: 8px 16px;
  // color: white;
  // margin-top: 30px;
  // width: 135px;
  text-align: center;
  // &:hover {
  //   background: rgba(255,255,255,1);
  //   color: black;
  //   transition: 0.2s;
  // }
}

.btn-exit::before {
  color: white;
  font-size: 32px;
  opacity: .8;
}

.btn-div {
  position: absolute;
  right: 24px;
  top: 16px;
}

