.btn-explore {
  color: $dark;
  background-color: $white;
  padding: 8px 40px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.btn-time-posted {
  text-align: center;
  width: 54px;
  height: 12px;
  padding: 2px;
  border-radius: 6px;
  color: $dark;
  font-size: 6px;
  border: none;
  background-color: #f39c0f;
  transition: opacity 0.3s ease;
  color: white;
}
