.card-small {
  min-width: 180px;
  max-width: 180px;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
  margin-right: 10px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.card-small > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-small-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,0.8);
}

.card-small p {
  font-size: 8px;
  margin: 0;
  color: $white;
  opacity: 1;
}

.card-small .card-small-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  bottom: 60px;
  background-color: rgba(61, 72, 75, 0.8);

}

.card-small-infos .card-small-user {
  position: absolute;
  left: 8px;
  top: -176px;
  width: 32px;
}

// --------------------------------------------------------------------------------

.card-large {
  width: 344px;
  height: 440px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
}

.card-large > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-large h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color: $white;
  opacity: 1;
}

.card-large p {
  font-size: 8px;
  margin: 0;
  color: $white;
  opacity: 1;
}

.card-large .card-large-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  bottom: 108px;
  background-color: rgba(61, 72, 75, 0.8);

}

.card-large-infos .card-large-user {
  position: absolute;
  left: 8px;
  top: -332px;
  width: 32px;
}

