@keyframes appear {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


.form-create-post {
  margin: 0;
}

#comments {
  color: $white;
}


// ---------------------------------------

.form-create-post-inner {
  display: flex;
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px;
  max-width: 296px;
  height: 52px;

  .post-comment-btn {
    border: none;
    background: none;
    color: #b94c1a;
    height: 38px;
    padding: 0px 16px;
  }

  .form-group {
    margin-bottom: 0;
  }

  textarea {
    height: 100%;
    border: none;
    padding-top: 8px;
  }

  textarea:focus {
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    color: white;
    border: none;
  }
}


// -----------------------------------------------------

.comment-box {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: transparent;
  padding: 6px 12px;
  border-bottom: 1px solid rgba(236, 236, 236, 0.2);
  animation: appear 0.5s
}

.comment-box .comment-info {
  flex-grow: 1;
  padding: 0 24px;
}

.comment-box img {
  border-radius: 50%;
}

.comment-box p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: white;
  font-size: 14px;
}

.comment-box small {
  color: white;
  font-weight: bold;
}
