#comment-box {
  border: 1px solid white;
  padding: 8px 16px;
  // margin: 8px 0px;
}

.comment-info {
  border-radius: 30px;
  height: 30px;
  width: 296px;
}

.form-create-post {
  margin-top: 24px;
}

#comments {
  color: $white;
}


// ---------------------------------------

.form-create-post-inner {
  display: flex;
  border: 1px solid white;
  border-radius: 8px;
  padding-top: 8px;
  max-width: 296px;

  .input-comment-content {
    height: 32px;
    border: none;
    color: #a1a3a6;

    textarea {
      background: transparent;
    }
  }

  .post-comment-btn {
    border: none;
    background: none;
    color: #a1a3a6;
    height: 40px;
    border-radius: 25px;
    padding: 8px 16px;

  }
}
