.create-post-form {

  .create-post-form-step-content {
    display: none;
  }
}
.create-post-form--has-image {
  .create-post-form-step-content {
    display: flex;
    height: 56px;
    border: 1px solid #e5e5e5;
    margin: 8px;
    border-radius: 4px;

    .post_content textarea {
      color: #000;
      margin: 16px;
      width: 100%;
      padding: 0;
      overflow: scroll;
      border: white;
      resize: none;
    }
  }

  .btn-make-post {
    border: none;
    color: #a1a3a6;
    font-weight: regular;
    background: transparent;
    border-radius: 4px;
    padding: 4px 16px;
    font-size: 16px;

    // &:hover {
    //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // }
  }

}

.create-post-form-preview {
  width: 100%;
  height: auto;
}

.mapboxgl-popup {
  display: none;

  .mapboxgl-popup-content {
    // height: 100%;
    // background-color: #1983be;
    // color: #fff;
    // font-size: 24px;
    // font-weight: bold;

    .mapboxgl-popup-close-button {

    }

    .mapboxgl-popup-close-button {
      color: #fff;
      font-size: 24px;
    }

    .js-post-form-image-wrapper {

    }
  }
}

.create-post-form-upload-button {
  border: 3px solid #167FFB;
  color: #167FFB;
  border-radius: 3px;
  padding: 15px;
  margin: 0;
  width: 100%;
  margin: 0 3px;
  width: calc(100% - 6px);
}

