.dashboard-container {
  background-color:#6c797d;
  color:black;
  height:100vh;

  .dash-avatar{
    text-align:center;
     background-color:#6c797d;
     padding:96px;
    font-size:32px;
    height:100vh


  }
  .h1{
    font-size: 24px;
    color:blue;
}
.dash-avatar img{
 height:75px;
 width:75px;
 border-radius:50px;
 color:black;

}
}

// .dash-card {
// color:white;
// display:flex;
// justify-content:space-between;
// padding:16px;
// }
.post-lists{
  display: block;
  grid-gap:4px;
  // background-color: #f8f9fa;
  color:black;
  width:90vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height:100vh;
  border-radius:10px;


}

.nav-tabs{
 background-color: #6c797d;
 a{
  text-align:center;
 }
}

.card-product {
   overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display:flex;
  border-radius:10px;
  a{
   color:green;
   font-size: 16px;

  }
}

.card-product img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:red;

}

// .card-product .card-product-infos {
  // padding: 16px;
// }

.dash-wrap{
  // display: -webkit-flex;
  // -webkit-flex-wrap: wrap;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:16px;

}
.tab-content{
 // display:none;
 .post-lists{
  display: block;
  grid-gap:4px;
  // background-color: #f8f9fa;
  color:black;
  width:90vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height:100vh;
  border-radius:10px;


}

}
.nav-link#home-tab-md{
  a{

    text-align:center;
  }
a.active{
  display:block;
}
}


