.navbar-lewagon {
  background-color: transparent;
  width: 50%;
  position: fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  opacity: 1;
}

.nav-item {
  padding: 0;
  border: none;

  li {
    display: inline-block;
  }
}
