.text {
 display: block;
 width: 300px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.text label {
  color: $white;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  color: $white;
}

.sm-card-text {
 display: block;
 width: 150px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
