// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.map-marker {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  img {
    width: 100%;
    border-radius: 50%;

  }
}
